In [2]:
import pandas as pd
from category_encoders import BinaryEncoder

In [3]:
data = {'device': ['laptop', 'tv', 'smartphone', 'microwave', 'tablet'],
        'portable': ['yes', 'no', 'yes', 'no', 'yes']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

       device portable
0      laptop      yes
1          tv       no
2  smartphone      yes
3   microwave       no
4      tablet      yes

In [6]:
encoder = BinaryEncoder(cols=['portable'])

In [7]:
df_encoder = encoder.fit_transform(df)

In [8]:
df_encoder

       device  portable_0  portable_1
0      laptop           0           1
1          tv           1           0
2  smartphone           0           1
3   microwave           1           0
4      tablet           0           1