In [1]:
import pandas as pd

In [2]:
data = {
    'Age':[25,30,40,22],
    'Income':[30000,45000,60000,25000],
    'Loan Approval':[1,0,1,0]
}
df = pd.DataFrame(data)
df

   Age  Income  Loan Approval
0   25   30000              1
1   30   45000              0
2   40   60000              1
3   22   25000              0

In [3]:
df.corr()

                    Age    Income  Loan Approval
Age            1.000000  0.988646       0.475645
Income         0.988646  1.000000       0.365148
Loan Approval  0.475645  0.365148       1.000000

In [5]:
corr = df.corr()['Loan Approval']
corr

Age              0.475645
Income           0.365148
Loan Approval    1.000000
Name: Loan Approval, dtype: float64

In [7]:
corr = corr.abs()
corr

Age              0.475645
Income           0.365148
Loan Approval    1.000000
Name: Loan Approval, dtype: float64

In [ ]:
sorted_corr = corr.sort_values(ascending=False)
sorted_corr

Income           0.365148
Age              0.475645
Loan Approval    1.000000
Name: Loan Approval, dtype: float64