In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = {'Fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Orange'],
        'Color': ['Red', 'Yellow', 'Orange', 'Green', 'Orange']}

In [3]:
df = pd.DataFrame(data)

In [4]:
encoder = OneHotEncoder()

In [5]:
encoder_color = encoder.fit_transform(df[['Color']]).toarray()

In [6]:
encodee_df = pd.DataFrame(encoder_color, columns=encoder.get_feature_names_out(['Color']))

In [7]:
df_encoded = pd.concat([df, encodee_df], axis=1).drop('Color', axis=1)

In [8]:
df_encoded

    Fruit  Color_Green  Color_Orange  Color_Red  Color_Yellow
0   Apple          0.0           0.0        1.0           0.0
1  Banana          0.0           0.0        0.0           1.0
2  Orange          0.0           1.0        0.0           0.0
3   Apple          1.0           0.0        0.0           0.0
4  Orange          0.0           1.0        0.0           0.0